@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono');
@import url('https://fonts.googleapis.com/css2?family=Lato');

html {
  /*-- font rules --*/
  --heading-font: "Lato", sans-serif;
  --title-font: "Lato", sans-serif;
  --mono-font: "DM Mono", monospace;
  --body-font: "Cardo", serif;
  --navbar-font: "LAto", sans-serif;
  /*-- Main font sizes --*/
  --title-size:      18px;
  --body-size:       1.2rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #0000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

body{
  background-color: #f8f8f8;
}

d-title h1{
  display: none;
}

d-title p{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
d-article h1{
  font-size: 2.25rem;
}

d-article h2{
  font-size: 1.8rem;
}

d-article h3{
  font-size: 1.5rem;
}

.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

d-article {
grid-template-columns: [screen-start]  auto[text-start kicker-end] 80% [text-end gutter-start] 2% [middle-end] 2% [page-end gutter-end] auto[screen-end];
grid-column-gap: 10%;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       1.25rem;
  --text-color:       white;
  --text-size:        1rem;
  --hover-color:      #A9BD93;
  --bkgd-color:       #667b68;
} #667b68

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        1rem;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

